# MongoDB Connection String
MONGO_URL=your_mongodb_connection_string

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CLOUDINARY_URL=your_cloudinary_url

# Nodemailer Keys
HOST=smtp.gmail.com
SERVICE=gmail
EMAIL_PORT=465
SECURE=true
USER=your_email@gmail.com
PASS=your_app_password

# Authentication
JWT_KEY=your_secret_jwt_key

# Gemini AI API Key
GEMINI_API_KEY=your_gemini_api_key
